body{
	background-color: #095555;
	text-align: left;
	color: lightgray;
	font-size: 18px;
	font-family: sans-serif;
}

h1{
	font-family: Helvetica;
	color: #000000;
	font-weight: bolder;
}

code{
	background-color: white;
	color: #000000;
	font-size: 20px;
}